<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="firstname" class="form-label">firstname</label>
    <input
      type="text"
      ngModel
      name="firstname"
      class="form-control"
      id="firstname"
    />
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">lastname</label>
    <input
      type="text"
      ngModel
      name="lastname"
      class="form-control"
      id="lastname"
    />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">email</label>
    <input type="email" ngModel name="email" class="form-control" id="email" />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">password</label>
    <input
      type="password"
      ngModel
      name="password"
      class="form-control"
      id="password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
